on:
   push:
     branches:
       - master 
     



jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3 

      - name: 'Login To DockerHub using secret'
        run: docker login --name ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_PASSWORD }}
      
      

       
          
          
        
