on:
   push:
     branches:
       - master 
     



jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3 

      - name: Docker Login
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      
      

       
          
          
        
