on:
   push:
     branches:
       - master 
     



jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - name: 'Print Folder Content'
        run: ls 

     

       
          
          
        
