on:
   push:
     branches:
       - master 
     



jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3

      - name: 'Login To Docker Hub'  
        run: docker login --username mo72medfarg --password dckr_pat_a3YWzrcqNagzeZJ3HBDFiDuOAgI
     

       
          
          
        
