on:
   push:
     branches:
       - master 
     



jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3 

      - name: "Docker Login"
        run: docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_TOKEN }}
      
      - name: "Building Docker Image"
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mohamed_farg_2023040378 .

      - name: "Push to Docker Hub"
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mohamed_farg_2023040378

       
          
          
        
